/* General Styling */
body {
    background-color: #f2d8d5; /* Light Grey */
    color: #222222; /*  Black text */
    font-family: 'Trebuchet MS', 'Segoe UI', Arial, sans-serif; /* Casual  */
    
    display: flex;
    justify-content: center; 
    margin: 0;
}

/* Main Container  */
.container {
    width: 80%;
    max-width: 1000px;
}

/* Header Section */
.header {
    background-color: #ffcc00; /* LEGO Yellow */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
}

/* Content Section */
.content {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
}

/* Sidebar for 4 Styles */
.sidebar {
    background-color: #e0e0e0;
    padding: 15px;
    margin-top: 15px;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;

    padding: 2px 0; 
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    
}

/* Links Styling */
a {
    color: #d62828; /* LEGO Red */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

